---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

// Fetch all collections
const allArticles = await getCollection("articles");
const allImages = await getCollection("images");
const allLinks = await getCollection("links");
const allNotes = await getCollection("notes");
const allQuotes = await getCollection("quotes");
const allVideos = await getCollection("videos");

// Combine collections
const combinedContent = [
  ...allArticles,
  ...allImages,
  ...allLinks,
  ...allNotes,
  ...allQuotes,
  ...allVideos,
];

// Sort the combined content by date
combinedContent.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            combinedContent.map((item) => (
              <li>
                <>
                  <a href={`/${item.collection}/${item.slug}/`}>
                    {item.data.title}
                  </a>
                  <br />
                </>
                <FormattedDate date={item.data.pubDate} type="published" />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
