---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";

type Props = CollectionEntry<"articles">["data"];

const { title, description, pubDate, updatedDate, isDraft, heroImage } =
  Astro.props;
---

<!doctype html>
<html lang="en-gb">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class="h-entry">
        <!-- {heroImage && <img width={720} height={360} src={heroImage} alt="" />} -->
        <h1 class="p-name title">{title}</h1>
        {isDraft && <p style="font-weight: bold; color: red;">DRAFT</p>}
        <a class="permaLink u-url" href={Astro.url}>
          <FormattedDate date={pubDate} type="published" />
        </a>
        {
          updatedDate && updatedDate != pubDate ? (
            <div>
              Last updated on{" "}
              <FormattedDate date={updatedDate} type="updated" />
            </div>
          ) : null
        }
        <hr />
        <div class="e-content">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
