---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
const { frontmatter } = Astro.props;
const dateOptions: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
const pubDateLocal = new Date(frontmatter.pubDate).toLocaleDateString(
  "en-GB",
  dateOptions
);
const updatedDateLocal = new Date(frontmatter.updatedDate).toLocaleDateString(
  "en-GB",
  dateOptions
);
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    link?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, link, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class="h-entry">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="p-name title">{title}</h1>
        {
          pubDateLocal ? (
            <a class="permaLink u-url" href={Astro.url}>
              <time class="dt-published" datetime={pubDate}>
                {pubDateLocal}
              </time>
            </a>
          ) : null
        }
        {
          updatedDateLocal && updatedDateLocal != pubDateLocal ? (
            <div>
              Last updated on{" "}
              <time class="dt-updated" datetime={updatedDate}>
                {updatedDateLocal}
              </time>
            </div>
          ) : null
        }
        <hr />
        <div class="e-content">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
